html, body {
  font-family: "Roboto", sans-serif;
  background-color: #6478D6;
  font-size: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  margin: 150px;
}

div img {
  width: 65px;
  height: 65px;
}

.main h2 {
  color: #6478D6;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main p {
  color: #6D6F78;
}

.main b {
  font-size: 200%;
}

.main .blue {
  color: #6478D6;
}

.main sup {
  font-weight: bold;
  font-size: 110%;
}

.main .block {
  padding: 30px 30px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  min-height: 250px;
  min-width: 250px;
  margin: 15px;
}

.main div:hover {
  background-color: #F0F2F5;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
