* {
  margin: 0;
  padding: 0;
  font: 16px Roboto, Arial, sans-serif;
}

body {
  overflow: hidden;
  background-color: #112d4e;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #f9f7f7;
}

.title {
  font-size: 2em;
  margin: 50px 0px;
  text-align: center;
}

.task-list {
  width: 20%;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0 auto;
  background-color: #dbe2ef;
  border-radius: 5px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  background-color: #3f72af;
  border-radius: 5px;
  text-decoration: none;
  color: #f9f7f7;
}

.task:hover {
  text-decoration: underline;
}

.task:not(:last-child) {
  margin-bottom: 10px;
}
