html, body {
  font: 16px Roboto;
  margin: 0;
  padding: 0;
}

body {
  background-color: #16A085;
}

.big {
  font-size: 19px;
  font-weight: bolder;
}

.check {
  padding: 0;
  margin: auto;
  margin-top: 100px;
  width: 510px;
  min-height: 395px;
  background: #ffffff url(img/bicycle.png) no-repeat;
  background-size: 100% auto;
  background-position-y: 160px;
  border-radius: 3px; 

  display: flex;
  flex-direction: column;
}

.account {
  margin: 10px 60px;
  margin-top: 20px;
}

.account img {
  padding: 5px;
  border: 1px solid #dad9d9;
  border-radius: 50%;
  transition-property: box-shadow;
  transition-duration: 0.5s;
}

.first {
  margin-top: 30px;
}

.special {
  margin: 0px 60px;
  font-size: 12px;
  width: 390px;
  font-weight: 500;
  color: #aaaaaa;
}

.check div {
  width: 390px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.count {
  padding: 5px 60px;
  color: #5c5c5c;
  text-transform: capitalize;
}

.price {
  color: #000000;
  font-weight: 700;
}

.total {
  text-transform: uppercase;
  font-weight: 700;
}

.account img:hover {
  box-shadow: 0 0 0 3px #efefef;
}