.resets-page {
  padding:0;
  margin:0;
}

.article-beaman {
  background-color: #F2CE97;
  font: 16px Roboto, Arial, sans-serif;
}

.resets-for-p {
  padding: 0;
  margin: 0;
}

.all-card {
  margin: auto;
  padding: 0;
  margin-top: 80px;
  width: 850px;
  height: 475px;
  display: flex;
  flex-direction: row;
}

.card-author, .card-text {
  height: 475px;
  display: flex;
  flex-direction: column;
}

.card-author {
  width: 340px;
  background-color: #484856;
  color: #FFFFFF;
}

.big-bold-title {
  font-size: 25px;
  font-weight: 500;
}

.big-title {
  font-size: 25px;
  font-weight: 100;
}

.card-author-content {
  padding: 60px 125px 35px 35px;
  height: 475px;
}

.line-1 {
  margin: 15px 0px 240px;
  width: 50px;
  height: 3px;
  border: none; 
  background-color:#DF6A4D; 
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px #000000;
}

.name-author {
  margin-left: 15px;
  font-weight: 100;
}

.card-text {
  width: 510px;
  background-color: #FFFFFF;
}

.card-text-content {
  height: 475px;
}

.article-text {
  margin: 50px 40px 30px 35px;
}

.article-text-letters {
  font-size: 18px;
  font-weight: 300;
}

.capital-letter {
  padding-bottom: 20px;
}

.capital-letter::first-letter {
  font-weight: 700;
  font-size: 23px;
}

.line-2 {
  margin: 25px 0px; 
  margin-right: 40px;
  width: 500px;
  background-color: #f7f3f3;
  border: 5px solid #f7f3f3;
}

.footer {
  margin: 0px 40px 0px 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time-like {
  font-size: 14px;
}

.bold-time {
  margin-right: 200px;
  font-weight: 700;
}

.comment {
  margin-right: 5px;
  width: 18px;
  height: 20px;
}

.flow-right {
  color: #c7c5c5;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

.more {
  width: 20px;
  height: 20px;
}